@media (max-width: 1200px) {
  .studioInfo .studioInfo__text_head {
    font-size: 16px;
  }
  .studioInfo .studioInfo__text_main {
    font-size: 13px;
  }
  .studioInfo .studioInfo__images {
    max-width: 280px;
    left: 50%;
  }
  .contact .contact-container {
    width: auto;
    padding: 20px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 500px 530px 350px 350px  450px 350px 450px 400px 350px 600px;
        grid-template-rows: 500px 530px 350px 350px  450px 350px 450px 400px 350px 600px;
        grid-template-areas: "a a a a a a a b b b b b b b b b " "c c c c c c c d d d d d d d d d" "e e e e e e e e h h h h h h h h" "i i i i i i i i i i i i i i i i" "f f f f f g g g g g g g g g g g" "j j j j j j j j j j j j j j j j" "k k k k k k k k k l l l l l l l " "n n n n n n n n n n n n n n n n " "o o o o o o o o o o o o o o o o" "p p p p p p p p p p p p p p p p" "r r r r r r r r r r r r r r r r " "t t t t t t t t u u u u u u u u";
  }
  .staffPerson-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    margin-left: 2%;
    width: 95%;
    margin-top: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .newsInfo .newsInfo-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 530px;
        grid-template-rows: 530px;
    justify-items: center;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
  }
  .staff .staff__text {
    left: 10%;
  }
  .luisMain .luisMain__heart {
    width: auto;
  }
  .luisMain .luisMain__text {
    width: auto;
  }
  .sesan .sesan__heart {
    width: auto;
  }
  .news {
    display: none;
  }
  .studio {
    display: none;
  }
  .main {
    display: none;
  }
  .head .head__content {
    margin-left: 15px;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 500px 530px 530px 350px  450px 350px 450px 400px 350px;
        grid-template-rows: 500px 530px 530px 350px  450px 350px 450px 400px 350px;
        grid-template-areas: "b b b b b b b b b b b b b b b b " "a a a a a a a a a a a a a a a a " "d d d d d d d d d d d d d d d d" "e e e e e e e e e e e e e e e e" "h h h h h h h h h h h h h h h h"  "i i i i i i i i i i i i i i i i" "f f f f f g g g g g g g g g g g" "j j j j j j j j j j j j j j j j" "k k k k k k k k k l l l l l l l "  "o o o o o o o o o o o o o o o o" "p p p p p p p p p p p p p p p p" "r r r r r r r r r r r r r r r r " "t t t t t t t t t t t t t t t t" "u u u u u u u u u u u u u u u u ";
  }
  .luisMain .luisMain__link {
    top: 40%;
    left: 50%;
  }
  .luisMain .luisMain__heart {
    width: 50px;
    top: 50%;
  }
  .timeLine .timeLine__text {
    left: 30%;
  }
  .studioInfo {
    display: none;
  }
  .contact .contact-container {
    width: auto;
    padding: 20px;
  }
  .head .head__nav-body {
    right: 0;
    left: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 68px;
    margin-left: 8px;
    z-index: 5;
  }
  .head .head__nav-body-item {
    width: 320px;
    height: 30px;
  }
}
/*# sourceMappingURL=media.css.map */